.github/
.vscode/
coverage/
docs/

images/
!images/icon.png

node_modules/
!node_modules/@vscode/codicons/dist/codicon.css
!node_modules/@vscode/codicons/dist/codicon.ttf
!node_modules/@szhsin/react-menu/dist/index.css

src/

.eslintrc.json
.gitignore
.prettierrc.yaml

.yarnrc

jest.config.js
jsdoc.conf.js
*.vsix

tsconfig.extension.json
tsconfig.json

webpack-extension.config.js
webpack.config.js
yarn-error.log
yarn.lock
