.vscode/

images/
!images/icon.png

node_modules/
!node_modules/@vscode/codicons/dist/codicon.css
!node_modules/@vscode/codicons/dist/codicon.ttf
!node_modules/@szhsin/react-menu/dist/index.css

public/
src/
coverage/

.eslintrc.json
.gitignore
.yarnrc
jest.config.js
tsconfig.extension.json
tsconfig.json
yarn-error.log
yarn.lock
