.vscode/

images/
!images/icon.png

node_modules/
!node_modules/@vscode/codicons/dist/

public/
src/

.eslintrc.json
.gitignore
.yarnrc
jest.config.js
tsconfig.extension.json
tsconfig.json
yarn-error.log
yarn.lock