/* Imported by index.css, do NOT import manually */

:root {
    --column-background: var(--vscode-editor-background);
    --column-foreground: var(--vscode-editor-foreground);
}

.column {
    flex-basis: 0;
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    border-left: 0.2rem solid var(--column-foreground);
    padding-left: 0.3rem;
    transition: border-color 0.3s;
    min-width: 10.5rem;
}

.column-titlebar {
    width: 100%;
    flex-grow: 0;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column-title {
    background-color: var(--column-background);
    font-size: 1.25rem;
    margin: 0;
    font-weight: bold;
    border-width: 0;
    max-width: 10rem;
    transition: color 0.3s;
}

.column-titlebar a,
.column-settings a {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.column-titlebar a:hover,
.column-titlebar a:focus,
.column-titlebar a:active,
.column-settings a:hover,
.column-settings a:focus,
.column-settings a:active {
    color: var(--column-background) !important;
}

.column-titlebar .codicon[class*='codicon-'],
.column-settings .codicon[class*='codicon-'] {
    font-size: 1rem !important;
    margin-top: 0.25rem !important;
}

.column-titlebar .codicon,
.column-settings .codicon {
    width: 1.25rem;
}

.column-delete,
.column-settings-toggle {
    margin-left: auto;
    margin-right: 0.6rem;
}

.column-color-picker,
.column-settings {
    overflow-y: hidden;
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    flex-flow: wrap;
}

.column-color-picker__swatch {
    border: none;
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-top: 0.5rem;
    cursor: pointer;
}

.column-color-picker__swatch:focus {
    outline: none;
    border: 0.1rem solid var(--column-foreground);
}

.column-color-picker .text-picker {
    margin-top: 0.5rem;
    height: 1.5rem;
    max-width: 4.8rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.column-color-picker input {
    height: 100%;
    width: 100%;
    border: none;
    background-color: var(--column-background);
    color: var(--column-foreground);
    border: 1px solid var(--vscode-activityBar-background);
    box-sizing: border-box;
}

.column-color-picker input:focus {
    outline: none;
}

.column-color-picker .input-tag {
    min-width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--vscode-activityBar-foreground);
    background-color: var(--vscode-activityBar-background);
}

.column-add-task {
    padding-top: 0.2rem;
    display: flex;
    flex-direction: row;
    width: 95%;
    align-self: center;
    opacity: 0.3;
    transition: opacity 0.2s;
    cursor: pointer;
}

.column-add-task:hover,
.column-add-task:focus,
.column-add-task:active {
    opacity: 1;
}

.column-add-task::before,
.column-add-task::after {
    content: '';
    border-bottom: 0.1rem solid;
    height: calc(50% - 0.1rem);
    flex-grow: 1;
    align-self: flex-start;
}

.column-add-task .codicon {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.column-tasks {
    flex-grow: 1;
    margin-bottom: 1rem;
    overflow-y: scroll;
}

.column-added {
    animation: grow-column;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    overflow: hidden;
    pointer-events: none;
}

.column-deleted {
    animation: grow-column;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
    animation-direction: reverse;
    overflow: hidden;
    pointer-events: none;
}

@keyframes grow-column {
    from {
        max-width: 0;
    }

    to {
        max-width: 100%;
    }
}
