body {
    margin: 0;
    padding: 1rem;
    font-family: var(--vscode-font-family);
    font-size: var(--vscode-font-size);
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
    height: 99vh;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    width: 80%;
    height: 90%;
    display: flex;
    padding: 1rem;
    flex-direction: column;
}

.board-titlebar {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 100%;
    flex-grow: 0;
    display: inline-flex;
    flex-direction: row;
}

.board-content {
    width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    display: inline-flex;
    flex-direction: row;
}

.column {
    height: 100%;
    flex-basis: 0;
    flex-grow: 1;
    flex-direction: column;
    margin: 1rem;
    display: flex;
    border-left: 0.2rem solid var(--vscode-editor-foreground);
    padding-left: 0.3rem;
}

.column-tasks {
    flex-grow: 1;
    margin-bottom: 1rem;
    padding-top: 1rem;
}

.task {
    background-color: var(--vscode-activityBar-background);
    border: 1px solid var(--vscode-activityBar-background);
}

.task-section {
    font: 400 var(--vscode-font-size) var(--vscode-font-family) !important;
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
    margin: 0 !important;
    width: 100% !important;
}

.task-edit {
    padding: 0;
    border-width: 0;
}

.task-display * {
    margin-block-start: 0;
    margin-block-end: 0;
}

.task-handle {
    height: 1rem;
    padding: 0;
    margin: 0;
    width: 100%;
}