body {
    margin: 0;
    padding: 1rem;
    font-family: var(--vscode-font-family);
    font-size: var(--vscode-font-size);
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
}

#root {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    width: 80%;
    display: inline-flex;
    padding: 1rem;
    flex-direction: row;
}

.task {
    padding: 1rem;
}