/* Imported by index.css, do NOT import manually */

:root {
    --board-background: var(--vscode-editor-background);
    --board-foreground: var(--vscode-editor-foreground);
    --scanline-color: rgba(var(--board-foreground), 0.3);
}

.board {
    width: 95%;
    height: 95%;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    overflow-y: scroll;
}

.board-titlebar {
    width: 100%;
    flex-grow: 0;
    display: inline-flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
    flex-wrap: wrap;
}

.board-title {
    background-color: var(--board-background);
    color: var(--board-foreground);
    font-size: 2rem;
    margin: 0;
    font-weight: bold;
    border-width: 0;
}

.board-title:focus {
    outline-color: var(--board-foreground);
}

.board-titlebar a {
    color: var(--board-foreground);
}

.board-titlebar .codicon {
    transition: color 0.3s;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
    padding: 0.4rem;
}

.board-titlebar .codicon[class*='codicon-'] {
    font-size: 1.5rem !important;
    margin-top: 0.5rem !important;
}

.board-titlebar .codicon:hover,
.board-titlebar .codicon:focus,
.board-titlebar .codicon:active {
    color: var(--board-background);
    background-color: var(--board-foreground);
}

.board-save .codicon.codicon-pass-filled {
    position: absolute;
    top: 0.7rem;
    right: -0.3rem;
    font-size: 1rem !important;
    background: radial-gradient(var(--board-background) 28%, transparent 28%);
}

.board-content {
    width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    display: inline-flex;
    flex-direction: row;
    overflow-y: scroll;
}

.board-add-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    opacity: 0.3;
    cursor: pointer;
    color: var(--board-foreground) !important;
    transition: opacity 0.2s;
    text-align: center;
}

.board-add-column:hover,
.board-add-column:focus,
.board-add-column:active {
    opacity: 1;
}

.board-add-column .vertical-line {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.board-add-column .vertical-line::before {
    content: '';
    display: block;
    background: none;
    border-right: 0.08rem solid var(--board-foreground);
    width: 50%;
}

.board-add-column .vertical-line::after {
    content: '';
    display: block;
    background: none;
    border-left: 0.08rem solid var(--board-foreground);
    width: 50%;
}

.board-add-column .codicon {
    font-size: 1.5rem !important;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.1rem; /* codicon is not perfectly centered */
}

/* Add scanline css filter */
.scanlines {
    position: relative;
    overflow: hidden;
}

.scanlines::before,
.scanlines::after {
    content: '';
    position: absolute;
    display: block;
    pointer-events: none;
}

.scanlines::before {
    bottom: 100%;
    width: calc(100% - 35px);
    height: 2px;
    z-index: 9;
    background: var(--board-foreground);
    opacity: 0.25;
    animation: moving-scanline 6s linear infinite;
}

.scanlines::after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 8;
    background: linear-gradient(to bottom, transparent 50%, var(--board-foreground) 50%);
    opacity: 7%;
    background-size: 100% 4px;
    animation: scanline-flicker 1s steps(120) infinite;
    box-shadow: -5px 0 15px 15px var(--board-background) inset;
}

@keyframes moving-scanline {
    0% {
        bottom: calc(0% + 20px);
    }

    100% {
        bottom: calc(100% - 22px);
    }
}

@keyframes scanline-flicker {
    0% {
        background-position: 0 50%;
    }
}
