/* Imported by index.css, do NOT import manually */

:root {
    --history-background: var(--vscode-editor-background);
    --history-foreground: var(--vscode-editor-foreground);
    --history-link: var(--vscode-editor-selectionBackground);
}

.history {
    background-color: var(--history-background);
    color: var(--history-foreground);
    height: 100%;
    flex-direction: column;
    align-items: center;
    display: flex;
    overflow-x: hidden;
    width: 25%;
}

.history-titlebar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    min-width: 15vw;
    margin-top: 1rem;
}

.history-titlebar a {
    cursor: pointer;
    color: var(--history-foreground) !important;
    transition: color 0.2s;
}

.history-titlebar a:hover,
.history-titlebar a:focus,
.history-titlebar a:active {
    color: var(--history-link) !important;
}

.history-titlebar a .codicon {
    font-size: 2.5rem !important;
    font-weight: bold;
    vertical-align: middle;
}

.history-titlebar h1 {
    display: inline-block;
    vertical-align: middle;
}

.history-scroller {
    width: 100%;
    min-width: 15vw;
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
    margin-bottom: 2rem;
}

.history-item {
    background-color: var(--history-background);
    color: var(--history-foreground);
    border-color: var(--history-foreground);
    width: 90%;
    cursor: pointer;
    transition: 0.2s;
}

.history-item-inside {
    margin-top: 0.5rem;
    border-left: 0.2rem solid;
    padding-left: 0.5rem;
    display: inline-block;
}

.history-item-inside h3 {
    margin-block-start: 0.5em;
    margin-block-end: 0;
}

.history-item-inside p {
    margin-block-start: 0;
    margin-block-end: 0.5em;
}

.history-item:hover,
.history-item:focus,
.history-item:active {
    color: var(--history-link);
    border-color: var(--history-link);
}
