/* Imported by index.css, do NOT import manually */

.task {
    margin-top: 0.5rem;
    background-color: var(--vscode-activityBar-background);
    color: var(--vscode-chart);
}

.task-handle {
    padding: 0;
    margin: 0;
    width: 100%;
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    transition: background-color 0.2s;
}

.task-handle .codicon[class*='codicon-'] {
    color: var(--vscode-activityBar-foreground);
    vertical-align: bottom;
}

.task-delete {
    transition: background-color 0.3s;
    color: var(--vscode-activityBar-foreground);
    cursor: pointer;
}

.task-delete:hover,
.task-delete:focus,
.task-delete:active {
    color: var(--vscode-activityBar-foreground);
    background-color: var(--vscode-charts-red);
}

.task-section {
    font: 400 var(--vscode-font-size) var(--vscode-font-family) !important;
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
    margin: 0 !important;
    width: 100% !important;
    border: 1px solid var(--vscode-activityBar-background) !important;
    box-sizing: border-box !important;
    cursor: text;
}

.task-edit {
    padding: 0;
    border-width: 0;
}

.task-edit:focus {
    outline: none;
}

.task-display * {
    margin-block-start: 0;
    margin-block-end: 0;
    overflow-wrap: break-word;
}