#board {
    display: flex;
    max-width: 80%;
    margin-left: 10%;
    min-height: 80vh;
    flex-flow: row;
    justify-content: center;
}

.col {
    border-radius: 5px 5px 0px 0px;
    margin-left: 0.5vh;
    margin-right: 0.5vh;
    background: var(--vscode-textBlockQuote-background);
    flex-direction: column;
}

.header {
    color: var(--vscode-editor-background);
    text-align: center;
    background: var(--vscode-editor-selectionBackground);
    border-radius: 5px 5px 0px 0px;
    padding: 0.5ch;
}

.task {
    color: var(--vscode-editor-foreground);
    background: var(--vscode-editor-background);
    margin: 0.5vh;
    border-radius: 5px;

    font-size: medium;
}

.task p {
    margin: 5px;
}

.dragging {
    background: var(--vscode-list-hoverBackground);
}

.titlebar {
    color: var(--vscode-editor-foreground);
    display: flex;
    margin-left: 10%;
}

