#board {
    display: flex;
    max-width: 80%;
    margin-left: 10%;
    flex-flow: row;
    justify-content: center;
}

.col {
    border-radius: 5px 5px 0px 0px;
    margin-left: 0.5vh;
    margin-right: 0.5vh;
    background-color: grey;
    padding: 1vh;
    flex-direction: column;
}

.header {
    color: black;
    text-align: center;
    background-color: aqua;
    border-radius: 5px 5px 0px 0px;
    padding: 0.5ch;
}

.task {
    color: black;
    background-color: white;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    border-radius: 5px;

    font-size: medium;
}

.dragging {
    background: lightslategray;
}

.titlebar {
    background: antiquewhite;
    display: flex;
    margin-left: 10%;
}

