#board {
    display: flex;
    max-width: 80%;
    margin-left: 10%;
    min-height: 80vh;
    flex-flow: row;
    justify-content: center;
}

a {
    cursor: pointer;
}

.col {
    border-radius: 5px 5px 0px 0px;
    margin-left: 0.5vh;
    margin-right: 0.5vh;
    background-color: var(--vscode-textBlockQuote-background);
    flex-direction: column;
}

.hidden {
    display: none;
}

.header {
    color: var(--vscode-editor-background);
    text-align: center;
    background-color: var(--vscode-editor-selectionBackground);
    border-radius: 5px 5px 0px 0px;
    padding: 0.5ch;
}

.header img {
    height: 3ch;
    margin-left: 1vh;
    margin-right: 1vh;
}

.task {
    color: var(--vscode-editor-foreground);
    background: var(--vscode-editor-background);
    margin: 0.5vh;
    border-radius: 5px;
    font-size: medium;
    cursor: grab;
}

.task p {
    margin: 5px;
    cursor: text;
}

.task img {
    margin-top: 0.75ch;
    height: 1.75ch;
    align-self: flex-end;
}

.dragging {
    background: var(--vscode-list-hoverBackground);
}

#titlebar {
    color: var(--vscode-editor-foreground);
    display: flex;
    margin-left: 10%;
}

#titlebar a {
    align-self: center;
    margin-left: 2vh
}

#titlebar img {
    height: 4ch;
}
