<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <!-- Only allow local files to be loaded -->
    <!-- percent-s is used for string formatting done at extension.ts-->
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src %s; style-src %s; img-src %s">
    <meta name="viewport" content="width=device-width" , initial-scale="1.0">

    <link rel="stylesheet" type="text/css" href="%s">

    <title>Kanban Board</title>
</head>

<body>

    <div id="titlebar">
        <h1> %s </h1>
        <a id="add-col" title="Add Column">
            <img src="%s" />
        </a>
        <a id="save" title="Save Board">
            <img src="%s" />
        </a>
        <a id="undo" title="Undo Last Deletion">
            <img src="%s">
        </a>
    </div>

    <div class="header hidden"></div>

    <script type="text/javascript" src="%s"> </script>
    <script type="text/javascript" src="%s"> </script>
</body>